:root {
  --background: #2447D1;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #1e202c; /* #1e202c */
    --foreground: #ededed;
  }
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

.app {
  height:100vh;
}

.navbar {
  width:100%;
  height:10vh;
  padding:20px;
}

.navbar h1 {
  float:left;
  font-size:40px;
  margin-left:30px;
}

.left {
  float:left;
  padding:10px;
}

.right {
  display:inline-flex;
  float:right;
  padding:10px;
}

.nav-link {
  padding:10px;
  margin:5px;
  font-size:20px;
  font-weight:bold;
  color:#159cfc;
}

.search {
  transition:0.7s;
  border-radius:50px;
  height:50px;
  width:50px;
  background-color:#1e202c;
  border:2px solid #11121a;
  padding:5px;
  display:inline-flex;
}

.search:hover {
  transition:0.7s;
  width:250px;
}

.searchButton {
  border:0px;
  transition:0.7s;
  border-radius:50px;
  float:right;
  height:40px;
  width:40px;
  background-color:#1e202c;
}

.search input {
  display:none;
  margin-left:10px;
  float:left;
  background-color:#1e202c;
  border:0px;
  padding:0px;
}

.search input:focus {
  outline:none;
}

.search:hover > input{
  display:flex;
} 

.signupButton {
  transition:0.7s;
  margin-top:5px;
  padding:10px 30px;
  height:40px;
  background-color:#791ff7;
  margin-left:10px;
  border-radius:50px;
  font-weight:bold;
  border:2px solid #791ff7;
}

.signupButton:hover {
  transition:0.7s;
  box-shadow:0 0 10px 0 #159cfc;
}

/* Header */

.header {
  width:100%;
  height:70vh;
  padding-top:5%;
  color:#159cfc;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size:40px;
  text-align:center;
}

.header h3 {
  font-size:20px;
  color:purple;
  font-weight:bold;
}

.textBoxy {
  font-size:15px;
  margin-left:35%;
  margin-right:35%;
  font-weight:bold;
}

gray {
  color:gray;
}


.language {
  display: flex;
  height:10vh;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.language button {
  margin:10px;
  padding:10px;
}


.headerFooter {
  background-color:black;
  padding:40px;
  max-height:10vh;
}

.headerFooter h3 {
  margin-left:100px;
  padding-top:8px;
}

.conFooterHeader {
  width:800px;
  display:inline-flex;
}

.conFooterHeader a {
  display:flex;
  justify-content: center;
  border-radius:50px;
  height:40px;
  transition:0.7s;
  width:40px;
  margin-left:20px;
  background-color: white;
  color:black;
  border:0px;
  font-size:25px;
  padding:7px 5px;
  border-radius:50px;
}

.conFooterHeader a text{
  transition:0.7s;
  display:none;
  font-size:15px;
  font-weight:bold;
}

.conFooterHeader a:hover {
  transition:0.7s;
  width:350px;
  padding:10px 2px;
  color:white;
  background-color:white;
}

.conFooterHeader a:hover > text {
  transition:0.7s;
  display:block;
  color:black;
}


@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
}

@media only screen and (max-width: 900px) {
  .header {
    width:100%;
    padding-top:2%;
  }

  .header h3 {
    text-align:center;
    padding:0% 10%;
  }
  .header h1{
    text-align:center;
    padding:5% 10%;
  }

  .textBoxy {
    text-align:center;
    margin-left:15%;
    margin-right:15%;
  }

  .navbar {
    transition:0.7s;
    display:block;
    height:10vh;
    overflow:hidden;
    box-shadow:0 0 50px 0 black;
  }

  .left {
    width:100%;
    height:10vh;
    display:flex;
    justify-content: center;
    text-align:center;
  }

  .navbar h1{
    float:center;
    font-size:30px;
    margin-bottom:20px;
    margin-left:0;
  }

  .navbar:hover {
    transition:0.7s;
    height:400px;
  }

  .right {
    height:auto;
    width:100%;
    display:block;
  }

  .nav-link {
    height:auto;
    width:100%;
    display:block;
  }

  .headerFooter {
    padding:5% 0;
    display:block;
    margin-left:0;
  }

  .headerFooter h3 {
    margin-left:5%;
    padding-top:8px;
  }


  .conFooterHeader {
    padding:0;
    margin:0;
  }

  .conFooterHeader a:hover {
    width:40px;
    transition:0.7s;
    background-color:black;
    color:white;
  }

  .conFooterHeader a:hover > text{
    display:none;
  }

}
